<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link href="common.project-styles/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="bg-default">
    <div id="sidebar" class="bg-white">

    </div>

    <main id="main">
        <div class="row">
            <div class="title-block col-8 px-md-24 py-md-20 bg-white">
                <h3>Расписание для группы:</h3>
            </div>

            <div class="dropdown col-4 bg-white">
                <div class="dropdown__trigger">
                    <h3>П-14-18</h3>
                    <div class="dropdown__arrow">
                        <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 2L14 14L2 2" stroke="black" stroke-width="3"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-md-24">
            <div class="schedule-block col-12 p-md-24 bg-white">
                <div class="schedule-block__header">
                    <h3>ПОНЕДЕЛЬНИК</h3>

                    <a href="#" class="edit-icon">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.6901 3.33333C30.2637 3.33333 29.8367 3.49578 29.5117 3.82161L26.6667 6.66666L33.3333 13.3333L36.1784 10.4883C36.8301 9.83661 36.8301 8.78151 36.1784 8.13151L31.8685 3.82161C31.5427 3.49578 31.1166 3.33333 30.6901 3.33333ZM24.1667 9.16666L6.17157 27.1618C5.42143 27.9119 5 28.9293 5 29.9902V34C5 34.5523 5.44772 35 6 35H10.0098C11.0707 35 12.0881 34.5786 12.8382 33.8284L30.8333 15.8333L24.1667 9.16666Z" fill="#FE7670"/>
                        </svg>                            
                    </a>
                </div>

                <div class="table">
                    <div class="table__row_header">
                        <h4 class="table__header-cell">Лента</h4>
                        <h4 class="table__header-cell">Четн. нед.</h4>
                        <h4 class="table__header-cell">Аудитория</h4>
                        <h4 class="table__header-cell">Дисциплина</h4>
                        <h4 class="table__header-cell">Преподаватель</h4>
                    </div>
                    <div class="table__row">
                        <span class="table__row-cell">1</span>
                        <span class="table__row-cell">-</span>
                        <span class="table__row-cell">C-5</span>
                        <span class="table__row-cell">Теория разработки и защиты баз данных</span>
                        <span class="table__row-cell">Ефименков А. Б.</span>
                    </div>
                    <div class="table__row">
                        <span class="table__row-cell">2</span>
                        <span class="table__row-cell">Да</span>
                        <span class="table__row-cell">К-410</span>
                        <span class="table__row-cell">Системное программирование</span>
                        <span class="table__row-cell">Гвоздиевская О. С.</span>
                    </div>
                    <div class="table__row">
                        <span class="table__row-cell">2</span>
                        <span class="table__row-cell">Нет</span>
                        <span class="table__row-cell">К-410</span>
                        <span class="table__row-cell">Прикладное программирование</span>
                        <span class="table__row-cell">Васильева О. П.</span>
                    </div>
                    <div class="table__row">
                        <span class="table__row-cell">3</span>
                        <span class="table__row-cell">-</span>
                        <span class="table__row-cell">К-410</span>
                        <span class="table__row-cell">Системное программирование</span>
                        <span class="table__row-cell">Гвоздиевская О. С.</span>
                    </div>
                    <div class="table__row_last">
                        <span class="table__row-cell">4</span>
                        <span class="table__row-cell">-</span>
                        <span class="table__row-cell">К-506</span>
                        <span class="table__row-cell">Основы экономики</span>
                        <span class="table__row-cell">Жуковская Ю. В.</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>