@import 'variables.scss';

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap');
    font-family: $font-family;
    font-weight: 500 600 700 800;
    font-style: normal;
    font-display: swap;
}

@mixin font($size: 16px,  $line-height: 20px, $letter-spacing: 0, $weight: 500, $bottom: false) {
    margin: 0;
    font-family: $font-family;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    user-select: text;

    @if $bottom {
        margin-bottom: $bottom;
    }
}

h1 {
    @include font(48px, 54px, 0, 800);
}

h2 {
    @include font(32px, 32px, 0, 800);
}

h3 {
    @include font(24px, 28px, 0, 700);
}

h4 {
    @include font(20px, 28px, 0, 600);
}