@import 'sizes.scss';

@mixin sizes-classes($screen-name: '') {
    @each $index, $size in $sizes {
        //margin properties region
        .m-#{$screen-name}-#{$index} {
            margin: $size !important;
        }
        .mx-#{$screen-name}-#{$index} {
            margin-right: $size !important;
            margin-left: $size !important;
        }
        .my-#{$screen-name}-#{$index} {
            margin-top: $size !important;
            margin-bottom: $size !important;
        }
        .ml-#{$screen-name}-#{$index} {
            margin-left: $size !important;
        }
        .mr-#{$screen-name}-#{$index} {
            margin-right: $size !important;
        }
        .mt-#{$screen-name}-#{$index} {
            margin-top: $size !important;
        }
        .mb-#{$screen-name}-#{$index} {
            margin-bottom: $size !important;
        }
  
        //padding properties region
        .p-#{$screen-name}-#{$index} {
            padding: $size !important;
        }
        .px-#{$screen-name}-#{$index} {
            padding-right: $size !important;
            padding-left: $size !important;
        }
        .py-#{$screen-name}-#{$index} {
            padding-top: $size !important;
            padding-bottom: $size !important;
        }
        .pl-#{$screen-name}-#{$index} {
            padding-left: $size !important;
        }
        .pr-#{$screen-name}-#{$index} {
            padding-right: $size !important;
        }
        .pt-#{$screen-name}-#{$index} {
            padding-top: $size !important;
        }
        .pb-#{$screen-name}-#{$index} {
            padding-bottom: $size !important;
        }
    }
}

//if you are using adaptive layouts, it should be commented
@include sizes-classes('md');