@import 'nullstyle.scss';
@import 'fonts.scss';
@import 'colors.scss';
@import 'sizes-classes.scss';
@import 'project-classes.scss';
@import 'grid.scss';
@import 'variables.scss';
@import '../common.blocks/table/table.scss';

#main {
    margin-left: 100px;
    padding: $size-32;
}

#sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    padding: 0 $size-16 0 $size-16;
}

.title-block {
    border-radius: 10px;
    background-color: red;
}

.dropdown {
    padding: $size-20;
    border-radius: 10px;
    background-color: blue;
}

.dropdown__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown__arrow {

}

.schedule-block {
    border-radius: 10px;
}

.schedule-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}