@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap");
  font-family: "Open Sans", sans-serif;
  font-weight: 500 600 700 800;
  font-style: normal;
  font-display: swap;
}

h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

h2 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

h3 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

h4 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.bg-primary {
  background-color: #fe7670 !important;
}

.text-primary {
  background-color: #fe7670 !important;
}

.border-primary {
  background-color: #fe7670 !important;
}

.bg-secondary {
  background-color: #ffa78f !important;
}

.text-secondary {
  background-color: #ffa78f !important;
}

.border-secondary {
  background-color: #ffa78f !important;
}

.bg-aixiliary {
  background-color: #ffd1a9 !important;
}

.text-aixiliary {
  background-color: #ffd1a9 !important;
}

.border-aixiliary {
  background-color: #ffd1a9 !important;
}

.bg-default {
  background-color: #e0e9f1 !important;
}

.text-default {
  background-color: #e0e9f1 !important;
}

.border-default {
  background-color: #e0e9f1 !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-white {
  background-color: #fff !important;
}

.border-white {
  background-color: #fff !important;
}

.m-md-0 {
  margin: 0 !important;
}

.mx-md-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-md-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ml-md-0 {
  margin-left: 0 !important;
}

.mr-md-0 {
  margin-right: 0 !important;
}

.mt-md-0 {
  margin-top: 0 !important;
}

.mb-md-0 {
  margin-bottom: 0 !important;
}

.p-md-0 {
  padding: 0 !important;
}

.px-md-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-md-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pl-md-0 {
  padding-left: 0 !important;
}

.pr-md-0 {
  padding-right: 0 !important;
}

.pt-md-0 {
  padding-top: 0 !important;
}

.pb-md-0 {
  padding-bottom: 0 !important;
}

.m-md-4 {
  margin: 4px !important;
}

.mx-md-4 {
  margin-right: 4px !important;
  margin-left: 4px !important;
}

.my-md-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.ml-md-4 {
  margin-left: 4px !important;
}

.mr-md-4 {
  margin-right: 4px !important;
}

.mt-md-4 {
  margin-top: 4px !important;
}

.mb-md-4 {
  margin-bottom: 4px !important;
}

.p-md-4 {
  padding: 4px !important;
}

.px-md-4 {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.py-md-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.pl-md-4 {
  padding-left: 4px !important;
}

.pr-md-4 {
  padding-right: 4px !important;
}

.pt-md-4 {
  padding-top: 4px !important;
}

.pb-md-4 {
  padding-bottom: 4px !important;
}

.m-md-8 {
  margin: 8px !important;
}

.mx-md-8 {
  margin-right: 8px !important;
  margin-left: 8px !important;
}

.my-md-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.ml-md-8 {
  margin-left: 8px !important;
}

.mr-md-8 {
  margin-right: 8px !important;
}

.mt-md-8 {
  margin-top: 8px !important;
}

.mb-md-8 {
  margin-bottom: 8px !important;
}

.p-md-8 {
  padding: 8px !important;
}

.px-md-8 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.py-md-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.pl-md-8 {
  padding-left: 8px !important;
}

.pr-md-8 {
  padding-right: 8px !important;
}

.pt-md-8 {
  padding-top: 8px !important;
}

.pb-md-8 {
  padding-bottom: 8px !important;
}

.m-md-12 {
  margin: 12px !important;
}

.mx-md-12 {
  margin-right: 12px !important;
  margin-left: 12px !important;
}

.my-md-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.ml-md-12 {
  margin-left: 12px !important;
}

.mr-md-12 {
  margin-right: 12px !important;
}

.mt-md-12 {
  margin-top: 12px !important;
}

.mb-md-12 {
  margin-bottom: 12px !important;
}

.p-md-12 {
  padding: 12px !important;
}

.px-md-12 {
  padding-right: 12px !important;
  padding-left: 12px !important;
}

.py-md-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.pl-md-12 {
  padding-left: 12px !important;
}

.pr-md-12 {
  padding-right: 12px !important;
}

.pt-md-12 {
  padding-top: 12px !important;
}

.pb-md-12 {
  padding-bottom: 12px !important;
}

.m-md-16 {
  margin: 16px !important;
}

.mx-md-16 {
  margin-right: 16px !important;
  margin-left: 16px !important;
}

.my-md-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.ml-md-16 {
  margin-left: 16px !important;
}

.mr-md-16 {
  margin-right: 16px !important;
}

.mt-md-16 {
  margin-top: 16px !important;
}

.mb-md-16 {
  margin-bottom: 16px !important;
}

.p-md-16 {
  padding: 16px !important;
}

.px-md-16 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.py-md-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.pl-md-16 {
  padding-left: 16px !important;
}

.pr-md-16 {
  padding-right: 16px !important;
}

.pt-md-16 {
  padding-top: 16px !important;
}

.pb-md-16 {
  padding-bottom: 16px !important;
}

.m-md-20 {
  margin: 20px !important;
}

.mx-md-20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.my-md-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.ml-md-20 {
  margin-left: 20px !important;
}

.mr-md-20 {
  margin-right: 20px !important;
}

.mt-md-20 {
  margin-top: 20px !important;
}

.mb-md-20 {
  margin-bottom: 20px !important;
}

.p-md-20 {
  padding: 20px !important;
}

.px-md-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.py-md-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pl-md-20 {
  padding-left: 20px !important;
}

.pr-md-20 {
  padding-right: 20px !important;
}

.pt-md-20 {
  padding-top: 20px !important;
}

.pb-md-20 {
  padding-bottom: 20px !important;
}

.m-md-24 {
  margin: 24px !important;
}

.mx-md-24 {
  margin-right: 24px !important;
  margin-left: 24px !important;
}

.my-md-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.ml-md-24 {
  margin-left: 24px !important;
}

.mr-md-24 {
  margin-right: 24px !important;
}

.mt-md-24 {
  margin-top: 24px !important;
}

.mb-md-24 {
  margin-bottom: 24px !important;
}

.p-md-24 {
  padding: 24px !important;
}

.px-md-24 {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.py-md-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.pl-md-24 {
  padding-left: 24px !important;
}

.pr-md-24 {
  padding-right: 24px !important;
}

.pt-md-24 {
  padding-top: 24px !important;
}

.pb-md-24 {
  padding-bottom: 24px !important;
}

.m-md-28 {
  margin: 28px !important;
}

.mx-md-28 {
  margin-right: 28px !important;
  margin-left: 28px !important;
}

.my-md-28 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}

.ml-md-28 {
  margin-left: 28px !important;
}

.mr-md-28 {
  margin-right: 28px !important;
}

.mt-md-28 {
  margin-top: 28px !important;
}

.mb-md-28 {
  margin-bottom: 28px !important;
}

.p-md-28 {
  padding: 28px !important;
}

.px-md-28 {
  padding-right: 28px !important;
  padding-left: 28px !important;
}

.py-md-28 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.pl-md-28 {
  padding-left: 28px !important;
}

.pr-md-28 {
  padding-right: 28px !important;
}

.pt-md-28 {
  padding-top: 28px !important;
}

.pb-md-28 {
  padding-bottom: 28px !important;
}

.m-md-32 {
  margin: 32px !important;
}

.mx-md-32 {
  margin-right: 32px !important;
  margin-left: 32px !important;
}

.my-md-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.ml-md-32 {
  margin-left: 32px !important;
}

.mr-md-32 {
  margin-right: 32px !important;
}

.mt-md-32 {
  margin-top: 32px !important;
}

.mb-md-32 {
  margin-bottom: 32px !important;
}

.p-md-32 {
  padding: 32px !important;
}

.px-md-32 {
  padding-right: 32px !important;
  padding-left: 32px !important;
}

.py-md-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.pl-md-32 {
  padding-left: 32px !important;
}

.pr-md-32 {
  padding-right: 32px !important;
}

.pt-md-32 {
  padding-top: 32px !important;
}

.pb-md-32 {
  padding-bottom: 32px !important;
}

.m-md-36 {
  margin: 36px !important;
}

.mx-md-36 {
  margin-right: 36px !important;
  margin-left: 36px !important;
}

.my-md-36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}

.ml-md-36 {
  margin-left: 36px !important;
}

.mr-md-36 {
  margin-right: 36px !important;
}

.mt-md-36 {
  margin-top: 36px !important;
}

.mb-md-36 {
  margin-bottom: 36px !important;
}

.p-md-36 {
  padding: 36px !important;
}

.px-md-36 {
  padding-right: 36px !important;
  padding-left: 36px !important;
}

.py-md-36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}

.pl-md-36 {
  padding-left: 36px !important;
}

.pr-md-36 {
  padding-right: 36px !important;
}

.pt-md-36 {
  padding-top: 36px !important;
}

.pb-md-36 {
  padding-bottom: 36px !important;
}

.m-md-40 {
  margin: 40px !important;
}

.mx-md-40 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.my-md-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.ml-md-40 {
  margin-left: 40px !important;
}

.mr-md-40 {
  margin-right: 40px !important;
}

.mt-md-40 {
  margin-top: 40px !important;
}

.mb-md-40 {
  margin-bottom: 40px !important;
}

.p-md-40 {
  padding: 40px !important;
}

.px-md-40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.py-md-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pl-md-40 {
  padding-left: 40px !important;
}

.pr-md-40 {
  padding-right: 40px !important;
}

.pt-md-40 {
  padding-top: 40px !important;
}

.pb-md-40 {
  padding-bottom: 40px !important;
}

.m-md-44 {
  margin: 44px !important;
}

.mx-md-44 {
  margin-right: 44px !important;
  margin-left: 44px !important;
}

.my-md-44 {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
}

.ml-md-44 {
  margin-left: 44px !important;
}

.mr-md-44 {
  margin-right: 44px !important;
}

.mt-md-44 {
  margin-top: 44px !important;
}

.mb-md-44 {
  margin-bottom: 44px !important;
}

.p-md-44 {
  padding: 44px !important;
}

.px-md-44 {
  padding-right: 44px !important;
  padding-left: 44px !important;
}

.py-md-44 {
  padding-top: 44px !important;
  padding-bottom: 44px !important;
}

.pl-md-44 {
  padding-left: 44px !important;
}

.pr-md-44 {
  padding-right: 44px !important;
}

.pt-md-44 {
  padding-top: 44px !important;
}

.pb-md-44 {
  padding-bottom: 44px !important;
}

.m-md-48 {
  margin: 48px !important;
}

.mx-md-48 {
  margin-right: 48px !important;
  margin-left: 48px !important;
}

.my-md-48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.ml-md-48 {
  margin-left: 48px !important;
}

.mr-md-48 {
  margin-right: 48px !important;
}

.mt-md-48 {
  margin-top: 48px !important;
}

.mb-md-48 {
  margin-bottom: 48px !important;
}

.p-md-48 {
  padding: 48px !important;
}

.px-md-48 {
  padding-right: 48px !important;
  padding-left: 48px !important;
}

.py-md-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.pl-md-48 {
  padding-left: 48px !important;
}

.pr-md-48 {
  padding-right: 48px !important;
}

.pt-md-48 {
  padding-top: 48px !important;
}

.pb-md-48 {
  padding-bottom: 48px !important;
}

.d-md-n {
  display: none !important;
}

.d-md-b {
  display: block !important;
}

.d-md-f {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.fw-md-w {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.fw-md-n {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.fd-md-c {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.fd-md-r {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.fb-md-100 {
  -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
}

.ai-md-c {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.ai-md-fs {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.ai-md-fe {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.as-md-fs {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}

.as-md-fe {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.as-md-c {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.jc-md-fe {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.jc-md-fs {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.jc-md-c {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.jc-md-sb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.bg-md-n {
  background: none !important;
}

.br-md-n {
  border: none !important;
}

.w-md-100 {
  width: 100% !important;
}

.h-md-100 {
  height: 100% !important;
}

.w-md-50 {
  width: 50% !important;
}

.h-md-50 {
  height: 50% !important;
}

.w-md-25 {
  width: 50% !important;
}

.h-md-25 {
  height: 50% !important;
}

.f-md-l {
  font-weight: 300;
}

.f-md-r {
  font-weight: 400;
}

.f-md-m {
  font-weight: 600;
}

.f-md-b {
  font-weight: 800;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

.off-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.off-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.off-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.off-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.off-5 {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.off-6 {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.off-7 {
  -ms-grid-column: 7;
      grid-column-start: 7;
}

.off-8 {
  -ms-grid-column: 8;
      grid-column-start: 8;
}

.off-9 {
  -ms-grid-column: 9;
      grid-column-start: 9;
}

.off-10 {
  -ms-grid-column: 10;
      grid-column-start: 10;
}

.off-11 {
  -ms-grid-column: 11;
      grid-column-start: 11;
}

.off-12 {
  -ms-grid-column: 12;
      grid-column-start: 12;
}

@media (max-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
  .off-md-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .off-md-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .off-md-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .off-md-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .off-md-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .off-md-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .off-md-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .off-md-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .off-md-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .off-md-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .off-md-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .off-md-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap");
  font-family: "Open Sans", sans-serif;
  font-weight: 500 600 700 800;
  font-style: normal;
  font-display: swap;
}

h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

h2 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

h3 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

h4 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.table__row, .table__row_header, .table__row_last {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 3fr 11fr 4fr;
      grid-template-columns: 2fr 2fr 3fr 11fr 4fr;
  text-align: center;
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #A1A1A1;
}

.table__row, .table__row_header, .table__row_last {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 3fr 11fr 4fr;
      grid-template-columns: 2fr 2fr 3fr 11fr 4fr;
  text-align: center;
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #A1A1A1;
}

.table__row_header {
  border-bottom: 2px solid #fe7670;
}

.table__row, .table__row_header, .table__row_last {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 3fr 11fr 4fr;
      grid-template-columns: 2fr 2fr 3fr 11fr 4fr;
  text-align: center;
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #A1A1A1;
}

.table__row_last {
  border-bottom: none;
}

.table {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

#main {
  margin-left: 100px;
  padding: 32px;
}

#sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  padding: 0 16px 0 16px;
}

.title-block {
  border-radius: 10px;
  background-color: red;
}

.dropdown {
  padding: 20px;
  border-radius: 10px;
  background-color: blue;
}

.dropdown__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schedule-block {
  border-radius: 10px;
}

.schedule-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */